body {
    background-color: rgb(67, 140, 182);
  }
h1 {
    color: blue;
}
h2 {
    color: blue;
    text-decoration: underline;
}
p {
    color: black;
}
a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: red;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: white;
    background-color: blue;
    text-decoration: underline;
}
a:active {
    color: green;
    background-color: blue;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    background-color: blue;
}
li {
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
li a:hover {
    background-color: darkblue;
}